code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .navbar {
    background-color: black !important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .navbar-nav {
    margin-left: auto !important;
  }
  
  .smallimg {
    height: 200px;
    width: 100% !important;
    border-radius: 5px !important;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .btn {
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;
  }
  
  .bs {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px !important;
    border-radius: 5px !important;
    padding: 20px !important;
  }
  
  .bigimg {
    height: 400px;
    border-radius: 5px !important;
    /* width: 100% !important;
    border-radius: 5px !important; */
  }
  
  input,
  select,
  .ant-picker {
    box-shadow: none !important;
    margin-top: 10px;
    border: 1px solid black !important;
    width: 80% !important;
    border-radius: 3px !important;
    height: 35px !important;
  }
  
  h2 {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .ant-picker-input input {
    border: none !important;
  }
  
  p {
    font-size: 15px !important;
  }
  
  .landing {
    background-color: black !important;
    height: 100vh;
    padding-top: 130px;
    width:'100%';
  }
  
  .landingBtn {
    background-color: white !important;
    color: black !important;
    margin-top: 20px !important;
  }
  
  